.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 140px;
  padding: 100px 0 0 0;
  color: blue;
}

.App-header {
  margin-top: 10px;
  background-color: rgb(20, 19, 19);
  height: 400px;
  padding: 20px;
  color: white;
  border-radius: 100%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {

  to { -webkit-transform: rotate(360deg); }
}
